header {
	display: flex;
	justify-content: space-between;
	background: wheat;
	align-items: flex-end;
	min-height: 3rem;
}

.logo {
	font-size: 2rem;
	padding-left: 2rem;
}

.header-nav {
	padding-right: 2rem;

	ul {
		list-style: none;
		margin: 0;
		font-size: 1.5rem;

		li {
			display: inline;
			padding-inline: 1ch;
			padding-top: 0.5rem;
			background: burlywood;
		}
	}
}

