{{define "content"}}
	<form class="recipe-form" action="/edit/1" method="pcyproost">
		<div class="single-item-groups">
			<div class="form-group">
				<label for="recipe-name">Recipe Name:</label>
				<input type="text" id="recipe-name" name="recipe-name">
			</div>
			<div class="form-group">
				<label for="author">Author:</label>
				<input type="text" id="author" name="author">
			</div>
			<div class="form-group">
				<label for="uploader">Uploader:</label>
				<input type="text" id="uploader" name="uploader">
			</div>
			<div class="form-group">
				<label for="prep-time">Prep time:</label>
				<input type="text" id="prep-time" name="prep-time">
			</div>
			<div class="form-group">
				<label for="total-time">Total time:</label>
				<input type="text" id="total-time" name="total-time">
			</div>
			<div class="form-group">
				<label for="yield">Yield:</label>
				<input type="text" id="yield" name="yield">
			</div>
		</div>
		<div class="textarea-group">
			<label for="ingredients">Ingredients:</label>
			<span class="ingredient-error" id="ingredient-error">Error (Invalid Formatting): Lines must begin with "## " (denoting a section header) or "* " (denoting an ingredient)</span>
			<textarea class="ingredient-area" id="ingredients" name="ingredients" required></textarea>
			<script type="text/javascript" src="/assets/js/edit-page.js"></script>
		</div>
		<div class="textarea-group">
			<label for="steps">Steps:</label>
			<textarea class="steps-area" id="steps" name="steps"></textarea>
		</div>
		<input type="submit" value="Submit">
	</form>
{{end}}
