{{define "header"}}
	<header>
		<div class="logo">Recipe Binder</div>
		<nav class="header-nav">
			<ul>
				<li><a href="/search">Search</a></li>{{if .HasValidSession}}<li><a href="/add">Add</a></li>{{else}}<li><a href="/login">Login</a></li>{{end}}
			</ul>
		</nav>
	</header>
{{end}}
