{{define "header"}}
	<header>
		<div class="logo">Recipe Binder</div>
		<nav class="header-nav">
			<ul>
				<li><a href="#">Find</a></li><li><a href="#">Add</a></li>
			</ul>
		</nav>
	</header>
{{end}}
