{{define "ingredientsList"}}
	{{range .IngredientSections}}
		{{if .Header}}
		<h3>{{.Header}}</h3>
		{{end}}
		<ul>
		{{range .Ingredients}}
			{{if .}}
				<li>{{.}}</li>
			{{end}}
		{{end}}
		</ul>
	{{end}}
{{end}}

{{define "content"}}
	<h1>Recipe Name</h1>
	<div class="recipe-metadata-container">
		<div class="recipe-metadata">
			<p><b>By:</b></p>
			<p>{{.Author}}</p>
		</div>
		<div class="recipe-metadata">
			<p><b>Uploaded by:</b></p>
			<p>{{.Uploader}}</p>
		</div>
	</div>
	<div class="recipe-metadata-container">
		<div class="recipe-metadata">
			<p><b>Prep time:</b></p>
			<p><time>{{.PrepTime}}</time></p>
		</div>
		<div class="recipe-metadata">
			<p><b>Total time:</b></p>
			<p><time>{{.TotalTime}}</time></p>
		</div>
		<div class="recipe-metadata">
			<p><b>Yield:</b></p>
			<p>{{.Yield}}</p>
		</div>
	</div>
	<img>
	<h2>Ingredients:</h2>
	{{template "ingredientsList" .}}
	<h2>Steps:</h2>
	{{range .StepSections}}
		{{if .Header}}
		<h3>{{.Header}}</h3>
		{{end}}
		{{range .Steps}}
			{{if .}}
			<p>{{.}}</p>
			{{end}}
		{{end}}
	{{end}}
	</main>
	<button class="open-ingredient-popup" id="open-ingredient-popup">Show Ingredients</button>
	<dialog class="ingredient-popup" id="ingredient-popup" closedby="any">
	<button id="close-ingredient-popup" autofocus>Close Ingredients</button>
	{{template "ingredientsList" .}}
	</dialog>
	<script>
	const dialog = document.getElementById("ingredient-popup");
	const openButton = document.getElementById("open-ingredient-popup");
	const closeButton = document.getElementById("close-ingredient-popup");

	openButton.addEventListener("click", () => {
		dialog.showModal();
	});

	closeButton.addEventListener("click", () => {
		dialog.close();
	});
	</script>
{{end}}
