{{define "content"}}
	<form class="recipe-form" action="/search" method="get">
		<div class="single-item-groups">
			<div class="form-group">
				<label for="recipe-name">Recipe Name:</label>
				<input type="text" id="recipe-name" name="recipe-name" value="{{.FormData.RecipeName}}">
			</div>
			<div class="form-group">
				<label for="author">Author:</label>
				<input type="text" id="author" name="author" value="{{.FormData.Author}}">
			</div>
			<div class="form-group">
				<label for="uploader">Uploader:</label>
				<input type="text" id="uploader" name="uploader" value="{{.FormData.Uploader}}">
			</div>
			<div class="form-group">
				<label for="prep-time">Prep time:</label>
				<input type="text" id="prep-time" name="prep-time" value="{{.FormData.PrepTime}}">
			</div>
			<div class="form-group">
				<label for="total-time">Total time:</label>
				<input type="text" id="total-time" name="total-time" value="{{.FormData.TotalTime}}">
			</div>
			<div class="form-group">
				<label for="yield">Yield:</label>
				<input type="text" id="yield" name="yield" value="{{.FormData.Yield}}">
			</div>
		</div>
		<div id="ingredients-container" class="ingredient-container">
			<p>Ingredients:</p>
			<input type="hidden" id="ingredient-count" name="ingredient-count" value="{{if .FormData.IngredientCount}}{{.FormData.IngredientCount}}{{else}}0{{end}}">
			{{range $i, $ingredient := .FormData.Ingredients}}
			<div class="ingredient-group">
				<input type="text" id="ingredient-{{$i}}" name="ingredient-{{$i}}" value="{{$ingredient}}">
				<button id="remove-ingredient-{{$i}}" type="button">Remove</button>
			</div>
			{{end}}
			<template id="ingredient-template">
				<div class="ingredient-group">
					<input type="text" id="ingredient-0" name="ingredient-0">
					<button id="remove-ingredient-0" type="button">Remove</button>
				</div>
			</template>
			<button id="add-ingredient" type="button">Add Ingredient</button>
			<script type="text/javascript" src="/assets/js/ingredient-input.js"></script>
		</div>
		<input type="submit" value="Submit">
	</form>
	<ul class="results-link-list">
		{{range .Results}}
			<li><a href="/read/{{.RecipeId}}">{{.RecipeName}}</a></li>
		{{end}}
	</ul>
{{end}}
